/*
 Vladislav Iarmolenko
Vladislaviarmolenko@my.smccd.edu
CIS 114 OL
clock.css
Assignment #6
Date May 17
*/
body {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
}
.cls {
    border: 0px solid maroon;
    padding: 20px;
    display: inline-block;
    
}
h1 {
    font-size: 70px;
    line-height: normal;
    letter-spacing: normal;
    background: 0 0;
    color: maroon;
    background-color: white;
    opacity: 0.5;
}
h2{
    background-color: maroon;
    color: white;
    padding-left: 15px;
}
h3 {
    font-size: 18px;
    background-color: maroon;
    font: Courier New;
    color: white;
}
h3.statementOfPurpose {
    font-size: 24px;
}
h4 {
    
}
.aboutText{
    background-color: maroon;
    color: white;
    font-size: 24;
    padding-left: 15px; 
}


}
label {
    float: left;
    width: 11em;
    text-align: right;
    padding-bottom: .5em;
}
input {
    margin-right: 1em;
    margin-bottom: .5em;
}
fieldset {
    margin-bottom: 1em;
}
.map-header {
    //background-color: rgb(210, 206, 206);
    width: 100%;
    height: 100%;
    
}
.map-header > div {
    position: absolute; 
    top: 0px; 
    width: 100%; 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    min-height: 100%; 
    background-image: url('https://static.wixstatic.com/media/442159_35a92c6bfbf74cd2a7b03fb9e2fbbb00~mv2.jpg/v1/fill/w_1041,h_750,al_c,q_85/442159_35a92c6bfbf74cd2a7b03fb9e2fbbb00~mv2.webp');
}
.ReactTable{
    background-color: white;
}
.page {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
}

ul.navigation {
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    bottom: 20px;
    right: 0px;
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
    background: whitesmoke url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/shiny2button_bg.png) center bottom repeat-x;
    border-radius: 10px;
    
}

ul.navigation li {
    background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/shiny2button_bg.png) center bottom repeat-x;
    list-style: none;
    display: inline-block;
}

ul.navigation li a, ul.navigation li a:hover, ul.navigation li a:visited, ul.navigation li a:link, ul.navigation li a:active {
    text-decoration: none;
    color: maroon;
}
.title {
    position: relative;
}
.pageContent{
    background-color: white;
}

